<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Flashy</title>
    <meta name="description" content="A Flash Card game about Java terms"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Suez+One" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/global.css"/>
</head>
<body class="index">
<div class="card">
    <form action="" method="post" th:object="${flashCard}">
        <div th:classappend="${#fields.hasErrors('term')}? 'error' : ''">
            <label for="term">Term:</label>
            <input type="text" value="" th:field="*{term}" id="term"/>
            <div class="error-message" th:if="${#fields.hasErrors('term')}"
                 th:errors="*{term}"></div>
        </div>

        <div th:classappend="${#fields.hasErrors('definition')}? 'error' : ''">
            <label for="definition">Definition:</label>
            <input type="text" value="" th:field="*{definition}" id="definition"/>
            <div class="error-message" th:if="${#fields.hasErrors('definition')}"
                 th:errors="*{definition}"></div>
        </div>

        <input type="submit" value="Add flash card"/>
    </form>
    <ul>
        <div id="terms">
            <li th:each="card : ${flashCards}">
                <div th:text="|Term: ${card.term}|"></div>
                <div th:text="|Definition: ${card.definition}|"></div>
            </li>
        </div>
    </ul>
</div>
</body>
</html>